body{
    background: radial-gradient(circle,rgba(87, 77, 77, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

.logo{
    width: auto;
    height: 75px;
    margin-left: 25px;
    zoom: 90%;
    margin-top: 5px;
}

.navbar{
  background-color: #111;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
  margin: 0;
  padding: 0;
}


.navbar-toggler{
    background-color: #fff;
    color: #000;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    margin-right: 25px;
    opacity: 65%;
}

.navbar-toggler-icon{
    color: white;
}

.navbar-brand{
    color: white;
    opacity: 75%;
    font-size: 50px;
    font-weight: 500;
}